{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<h1>New item</h1>

<form action="#" method="post">
	<div class="form-group">
		<label for="name">Name:</label>
		<input type="text" maxlength="70" class="form-control" name="name" placeholder="Item's name">

		<label for="name">Description:</label>
		<textarea class="form-control" maxlength="140" name="description" placeholder="Description"></textarea>

		<button type="submit" class="btn btn-default" id="submit" type="submit">
		<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Save</button>
		<a href = '{{url_for('showCategories')}}'>
			<button class="btn btn-default delete">
			<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</button>
		</a>
	</div>
</form>
{% endblock %}